/*
@import '/styles.css';
.bold {
	font-weight: bold;
}
.italic {
	font-style: italic;
}
*/
:root {
	color-scheme: dark;

	--background-color-red: #e7442a;
	--background-color-red--hover: #ff7755;
	--background-color-light-blue: #9ea5ba;
	--background-color-light-blue--hover: #aabbff;
	--background-color-dark-blue: #6d748c;
	--background-color-dark-blue--hover: #99aaff;
	--background-color-light-gray: #2f3749;
	--background-color-light-gray--hover: #334455;
	--background-color-dark-gray: #111419;
	--background-color-dark-gray--hover: #112233;
	--background-color-black: #000000;
	--background-color-black--hover: var(--background-color-black);

	--border-color-red: var(--background-color-red);
	--border-color-red--hover: var(--background-color-red--hover);
	--border-color-light-blue: var(--background-color-light-blue);
	--border-color-light-blue--hover: var(--background-color-light-blue--hover);
	--border-color-dark-blue: var(--background-color-dark-blue);
	--border-color-dark-blue--hover: var(--background-color-dark-blue--hover);
	--border-color-light-gray: var(--background-color-light-gray);
	--border-color-light-gray--hover: var(--background-color-light-gray--hover);
	--border-color-dark-gray: var(--background-color-dark-gray);
	--border-color-dark-gray--hover: var(--background-color-dark-gray--hover);
	--border-color-black: var(--background-color-black);
	--border-color-black--hover: var(--background-color-black--hover);

	--color-red: var(--background-color-black);
	--color-red--hover: var(--background-color-black--hover);
	--color-light-blue: var(--background-color-black);
	--color-light-blue--hover: var(--background-color-black--hover);
	--color-dark-blue: var(--background-color-black);
	--color-dark-blue--hover: var(--background-color-black--hover);
	--color-light-gray: var(--background-color-light-blue);
	--color-light-gray--hover: var(--background-color-light-blue--hover);
	--color-dark-gray: var(--background-color-red);
	--color-dark-gray--hover: var(--background-color-red--hover);
	--color-black: var(--background-color-red);
	--color-black--hover: var(--background-color-red--hover);
}
* {
	box-sizing: border-box;
}
body {
	background-color: var(--background-color-black);
	color: var(--color-black);
	font-family: Antonio, sans-serif;
	display: grid;
	grid-template-columns: repeat(4, 12em) auto repeat(2, 12em);
	grid-template-rows: repeat(7, 4em) auto repeat(3, 4em);
	gap: 0.5em;
	margin: 0.5em;
	height: calc(100vh - 1em);
}
p a {
	color: var(--color-light-gray);
}
p a:visited {
	color: var(--color-light-gray);
}
p a:active {
	color: var(--color-black--hover);
}
math {
	margin-left: 2em;
}
blockquote {
	margin: 0;
	border-left: 0.25em solid var(--border-color-dark-blue);
	padding-left: 1.25em;
}
sup {
	font-size: 0.75em;
}
p {
	text-align: justify;
}
ul {
	list-style: none;
}
ul li {
	position: relative;
	padding-bottom: 0.5em;
	padding-left: 2.75em;
}
ul li::before {
	content: '';
	width: 2em;
	height: 1.25em;
	border-radius: 50%;
	background-color: var(--background-color-red);
	position: absolute;
	top: 2px;
	left: 0;
}
p.attribution {
	text-align: right;
}
.button,
.panel {
	display: flex;
	justify-content: end;
	align-items: end;
	padding: 0.3em 1em;
}
span#byline {
	text-align: right;
	display: block;
}
.scrollbox {
	overflow: auto;
	padding-right: 2em;
	grid-column: 5 / -1;
	grid-row: 6 / -2;
}
div.wrap {
	border-top: 1.25em solid var(--border-color-dark-blue);
	border-left: 9em solid var(--border-color-dark-blue);
	border-bottom: 1.25em solid var(--border-color-dark-blue);
	border-radius: 1.25em 0 0 1.25em;
	margin-top: 1.25em;
	display: flex;
	flex-wrap: wrap;
	padding: 0.2em;
}
#sidebar {
	display: grid;
	grid-template-columns: subgrid;
	grid-template-rows: subgrid;
	grid-column: span 2;
	grid-row: 1 / -1;
}
.version-info {
	grid-column: span 2;
}
#header-button-group {
	display: grid;
	grid-template-columns: subgrid;
	grid-template-rows: subgrid;
	grid-column: -3 / span 2;
	grid-row: span 2;
}
:root .hidden {
	display: none;
}

/* Font */
@font-face {
	font-family: Antonio;
	font-weight: 400;
	src: url('/lcars-database/resources/font-file-one.woff2');
}
@font-face {
	font-family: Antonio;
	font-weight: 400;
	src: url('/lcars-database/resources/font-file-two.woff2');
}
@font-face {
	font-family: Antonio;
	font-weight: 700;
	src: url('/lcars-database/resources/font-file-one.woff2');
}
@font-face {
	font-family: Antonio;
	font-weight: 700;
	src: url('/lcars-database/resources/font-file-two.woff2');
}

/* Waveform */
.waveform-wrapper {
	grid-column: span 2;
	grid-row: span 4;
	border: 1.5em solid var(--border-color-red);
	border-radius: 1.5em;
}
.waveform {
	background-color: var(--background-color-black);
	width: calc(100% - 3em);
	height: calc(100% + 3em);
	margin: -1.5em 1.5em;
}
.waveform-segment {
	height: calc(100% / 15);
	width: 0;
	background-image: linear-gradient(to right, #400000, var(--background-color-red), #400000);
	margin: auto;
}
.waveform :nth-child(1) {
	animation: animateLine5 1s 0.2s infinite;
}
.waveform :nth-child(2) {
	animation: animateLine4 1s 0.3s infinite;
}
.waveform :nth-child(3) {
	animation: animateLine3 1s 0.4s infinite;
}
.waveform :nth-child(4) {
	animation: animateLine3 1s 0.5s infinite;
}
.waveform :nth-child(5) {
	animation: animateLine2 1s 0.6s infinite;
}
.waveform :nth-child(6) {
	animation: animateLine2 1s 0.7s infinite;
}
.waveform :nth-child(7) {
	animation: animateLine2 1s 0.8s infinite;
}
.waveform :nth-child(8) {
	animation: animateLine1 1s 0.9s infinite;
}
.waveform :nth-child(9) {
	animation: animateLine2 1s 0.8s infinite;
}
.waveform :nth-child(10) {
	animation: animateLine2 1s 0.7s infinite;
}
.waveform :nth-child(11) {
	animation: animateLine2 1s 0.6s infinite;
}
.waveform :nth-child(12) {
	animation: animateLine3 1s 0.5s infinite;
}
.waveform :nth-child(13) {
	animation: animateLine3 1s 0.4s infinite;
}
.waveform :nth-child(14) {
	animation: animateLine4 1s 0.3s infinite;
}
.waveform :nth-child(15) {
	animation: animateLine5 1s 0.2s infinite;
}
@keyframes animateLine1 {
	0% {
		width: 12em;
	}
	50% {
		width: 6em;
	}
	100% {
		width: 12em;
	}
}
@keyframes animateLine2 {
	0% {
		width: 10em;
	}
	50% {
		width: 5em;
	}
	100% {
		width: 10em;
	}
}
@keyframes animateLine3 {
	0% {
		width: 8em;
	}
	50% {
		width: 4em;
	}
	100% {
		width: 8em;
	}
}
@keyframes animateLine4 {
	0% {
		width: 4em;
	}
	50% {
		width: 2em;
	}
	100% {
		width: 4em;
	}
}
@keyframes animateLine5 {
	0% {
		width: 2em;
	}
	50% {
		width: 1em;
	}
	100% {
		width: 2em;
	}
}

/* Panel group */
#panel-group {
	display: grid;
	gap: inherit;
	grid-template-columns: subgrid;
	grid-template-rows: repeat(round(down, calc(((100vh - 0.5em) / 4.5em) - 1)), 4em) auto;
	grid-column: 3 / span 2;
	grid-row: 1 / -1;
}
.panel {
	grid-row: span 2;
}
.panel-left {
	grid-column: 1;
}
.panel-right {
	grid-column: 2;
}
.panel:nth-child(4) {
	border-radius: 0 0 0 2em;
}
.panel:nth-child(6) {
	border-radius: 2em 0 0 0;
}
.panel:nth-child(3),
.panel:nth-child(4) {
	align-items: start;
}

/* Data Cascade */
@keyframes colorchange {
	0% {
		color: var(--color-black);
	}
	75% {
		color: var(--color-black);
	}
	80% {
		color: var(--color-red);
	}
	90% {
		color: var(--color-red);
	}
	100% {
		color: #ffffff;
	}
}
.cascade {
	grid-column: 5;
	grid-row: span 2;
	font-size: 0.65em;
	text-align: right;
	color: var(--color-red);
	width: fit-content;
	margin-inline: auto;
}
.cascade tr:nth-child(1) {
	animation: colorchange 2s infinite;
	animation-delay: 0.1s;
}
.cascade tr:nth-child(2) {
	animation: colorchange 3s infinite;
	animation-delay: 0.2s;
}
.cascade tr:nth-child(3) {
	animation: colorchange 3s infinite;
	animation-delay: 0.3s;
}
.cascade tr:nth-child(4) {
	animation: colorchange 2s infinite;
	animation-delay: 0.4s;
}
.cascade tr:nth-child(5) {
	animation: colorchange 3s infinite;
	animation-delay: 0.5s;
}
.cascade tr:nth-child(6) {
	animation: colorchange 2s infinite;
	animation-delay: 0.6s;
}
.cascade tr:nth-child(7) {
	animation: colorchange 2s infinite;
	animation-delay: 0.7s;
}
.cascade td {
	min-width: 2em;
}

/* Buttons */
.button {
	text-decoration: none;
	border-radius: 2em;
}
.right-facing {
	border-radius: 0 2em 2em 0;
}
.left-facing {
	border-radius: 2em 0 0 2em;
}
.square {
	border-radius: 0;
}
.border-button {
	border: 0.2em solid var(--border-color-red);
}
.border-button:hover {
	border-color: var(--border-color-red--hover);
	color: var(--color-black--hover);
}
.border-button-cyan {
	border: 0.2em solid #00aacc;
	color: #00aacc;
}
.border-button-cyan:hover {
	border-color: #00ffff;
	color: #00ffff;
}
div.scrollbox a.button {
	margin: 0.2em;
}
.copyrights {
	grid-column: -2;
	grid-row: -2;
}
div.blink-slow {
	animation: blink 9s infinite;
	animation-delay: 6s;
}
div.blink-fast {
	animation: blink 2s infinite;
	animation-delay: 1s;
}
@keyframes blink {
	0% {
		opacity: 0;
	}
	49% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}

/* Bars */
#bar {
	grid-column: 5 / -1;
	grid-row: span 2;
	position: relative;
}
.bar {
	height: 1em;
	position: absolute;
	left: -0.5em;
	width: 6em;
}
.number-one {
	top: 3em;
}
.number-two {
	top: 4.5em;
}
.bar-break {
	height: 2.5em;
	position: absolute;
	top: 3em;
	left: 6em;
	width: 3em;
}
.bar-continued {
	height: 1em;
	position: absolute;
	left: 9.5em;
	right: 0;
}
.marker {
	height: 1.5em;
	position: absolute;
	top: 3.5em;
	left: 9.5em;
	width: 12em;
	background-color: var(--background-color-black);
	border-radius: 0 0.75em 0.75em 0;
}

/* Headers */
h1 {
	font-size: 4em;
	line-height: 1;
	margin: 0;
	grid-column: 5 / -1;
	text-align: right;
}
h2 {
	font-size: 3em;
	margin: 0 0 0.2em 0;
	text-align: right;
}
h3 {
	font-size: 2em;
	margin: 0;
}

/* Colors */
.red {
	background-color: var(--background-color-red);
	color: var(--color-red);
}
.light-blue {
	background-color: var(--background-color-light-blue);
	color: var(--color-red);
}
.dark-blue {
	background-color: var(--background-color-dark-blue);
	color: var(--color-red);
}
.light-gray {
	background-color: var(--background-color-light-gray);
	color: var(--color-light-gray);
}
.dark-gray {
	background-color: var(--background-color-dark-gray);
	color: var(--color-black);
}
.button.red:hover {
	background-color: var(--background-color-red--hover);
	color: var(--color-red--hover);
}
.button.light-blue:hover {
	background-color: var(--background-color-light-blue--hover);
	color: var(--color-light-blue--hover);
}
.button.dark-blue:hover {
	background-color: var(--background-color-dark-blue--hover);
	color: var(--color-dark-blue--hover);
}
.button.light-gray:hover {
	background-color: var(--background-color-light-gray--hover);
	color: var(--color-light-gray--hover);
}
.button.dark-gray:hover {
	background-color: var(--background-color-dark-gray--hover);
	color: var(--color-dark-gray--hover);
}

/* Tables */
div.scrollbox table {
	border-spacing: 0;
	border: 1px solid var(--border-color-red);
}
th,
div.scrollbox td {
	border: 1px solid var(--border-color-red);
}

/* TODO: Add responsive formatting */

/* Print */
@media print {
	* {
		color: var(--color-red);
	}
	blockquote {
		border: none;
		padding-left: 0.5in;
	}
	h1 {
		display: block!important;
		top: 0.10in!important;
		right: 0.25in!important;
	}
	.panel,
	a.header-one,
	a.header-two,
	a.header-three,
	a.header-four,
	div.bar,
	div.bar-break,
	div.bar-continued,
	div.marker {
		display: none;
	}
	a[href^="http"]::after {
		content: ' (' attr(href) ')';
	}
	div.scrollbox {
		top: 0.85in;
		left: 0.25in!important;
		right: 0.25in;
		padding: 0;
	}
}
