/*
@import '/styles.css';
.bold{
	font-weight: bold;
}
.italic{
	font-style: italic;
}
*/
*{
	box-sizing: border-box;
}
body{
	background: #000000;
	color: #e7442a;
	font-family: Antonio, Arial;
	margin: 0;
	display: grid;
	grid-template-columns: repeat(4, 12em) auto repeat(2, 12em);
	grid-auto-rows: 4em;
	gap: 0.5em;
}
p a{
	color: #9ea5ba;
}
p a:visited{
	color: #9ea5ba;
}
p a:active{
	color: #ff7755;
}
math{
	margin-left: 2em;
}
blockquote{
	margin: 0;
	border-left: 5px solid #6d748c;
	padding-left: 20px;
}
sup{
	font-size: 0.75em;
}
p{
	text-align: justify;
}
ul{
	list-style: none;
}
ul li{
	position: relative;
	padding-bottom: 10px;
	padding-left: 45px;
}
ul li::before{
	content: '';
	width: 30px;
	height: 20px;
	border-radius: 50%;
	background: #e7442a;
	position: absolute;
	top: 2px;
	left: 0;
}
p.attribution{
	text-align: right;
}
.box-with-label{
	display: flex;
	justify-content: end;
	align-items: end;
	padding: 0.3em 1em;
}
span#byline{
	text-align: right;
	display: block;
}
div.scrollbox{
	overflow: auto;
	position: fixed;
	top: 310px;
	bottom: 70px;
	left: 775px;
	right: 5px;
	padding-right: 30px;
}
div.wrap{
	border-top: 20px solid #6d748c;
	border-left: 147px solid #6d748c;
	border-bottom: 20px solid #6d748c;
	border-radius: 20px 0 0 20px;
	margin-top: 20px;
	display: flex;
	flex-wrap: wrap;
	padding: 2.5px;
}
div.version-info{
	position: fixed;
	top: 460px;
	left: 5px;
	bottom: 200px;
	width: 365px;
}
:root .hidden{
	display: none;
}

/* Font */
@font-face{
	font-family: Antonio;
	font-weight: 400;
	src: url('/lcars-database/resources/font-file-one.woff2');
}
@font-face{
	font-family: Antonio;
	font-weight: 400;
	src: url('/lcars-database/resources/font-file-two.woff2');
}
@font-face{
	font-family: Antonio;
	font-weight: 700;
	src: url('/lcars-database/resources/font-file-one.woff2');
}
@font-face{
	font-family: Antonio;
	font-weight: 700;
	src: url('/lcars-database/resources/font-file-two.woff2');
}

/* Sidebar */
.panel{
	grid-row: span 2;
}
.panel-left{
	grid-column: 3;
}
.panel-right{
	grid-column: 4;
}
.panel-column + .panel-column > :nth-child(2){
	border-radius: 0 0 0 50px;
}
.panel-column + .panel-column > :nth-child(3){
	border-radius: 50px 0 0 0;
}
.panel-column > :nth-child(2){
	align-items: start;
}

/* Data Cascade */
@keyframes colorchange{
	0%{
		color: #e7442a;
	}
	75%{
		color: #e7442a;
	}
	80%{
		color: #000000;
	}
	90%{
		color: #000000;
	}
	100%{
		color: #ffffff;
	}
}
.cascade{
	grid-row: 2 / 4;
	font-size: 0.65em;
	text-align: right;
	color: #000000;
}
.cascade tr:nth-child(1){
	animation: colorchange 2s infinite;
	animation-delay: 0.1s;
}
.cascade tr:nth-child(2){
	animation: colorchange 3s infinite;
	animation-delay: 0.2s;
}
.cascade tr:nth-child(3){
	animation: colorchange 3s infinite;
	animation-delay: 0.3s;
}
.cascade tr:nth-child(4){
	animation: colorchange 2s infinite;
	animation-delay: 0.4s;
}
.cascade tr:nth-child(5){
	animation: colorchange 3s infinite;
	animation-delay: 0.5s;
}
.cascade tr:nth-child(6){
	animation: colorchange 2s infinite;
	animation-delay: 0.6s;
}
.cascade tr:nth-child(7){
	animation: colorchange 2s infinite;
	animation-delay: 0.7s;
}
.cascade td{
	min-width: 20px;
}

/* Buttons */
.button{
	width: 180px;
	height: 60px;
	text-decoration: none;
	border-radius: 60px;
}
.right-facing{
	border-radius: 0 60px 60px 0;
}
.left-facing{
	border-radius: 60px 0 0 60px;
}
.square{
	border-radius: 0;
}
.border-button{
	border: 3px solid #e7442a;
	width: 174px;
	height: 55px;
}
.border-button:hover{
	border-color: #ff7755;
	color: #ff7755;
}
.border-button-cyan{
	border: 3px solid #00aacc;
	width: 174px;
	height: 55px;
	color: #00aacc;
}
.border-button-cyan:hover{
	border-color: #00ffff;
	color: #00ffff;
}
.header-one{
	position: fixed;
	top: 100px;
	right: 220px;
}
.header-two{
	position: fixed;
	top: 100px;
	right: 35px;
}
.header-three{
	position: fixed;
	top: 165px;
	right: 220px;
}
.header-four{
	position: fixed;
	top: 165px;
	right: 35px;
}
div.scrollbox a.button{
	margin: 2.5px;
}
div.sidebar-1{
	position: fixed;
	top: 265px;
	left: 5px;
}
div.sidebar-2{
	position: fixed;
	top: 330px;
	left: 5px;
}
div.sidebar-3{
	position: fixed;
	top: 395px;
	left: 5px;
}
div.sidebar-4{
	position: fixed;
	top: 265px;
	left: 190px;
}
div.sidebar-5{
	position: fixed;
	top: 330px;
	left: 190px;
}
div.sidebar-6{
	position: fixed;
	top: 395px;
	left: 190px;
}
div.sidebar-7{
	position: fixed;
	bottom: 135px;
	left: 5px;
}
div.sidebar-8{
	position: fixed;
	bottom: 70px;
	left: 5px;
}
div.sidebar-9{
	position: fixed;
	bottom: 5px;
	left: 5px;
}
div.sidebar-10{
	position: fixed;
	bottom: 135px;
	left: 190px;
}
div.sidebar-11{
	position: fixed;
	bottom: 70px;
	left: 190px;
}
div.sidebar-12{
	position: fixed;
	bottom: 5px;
	left: 190px;
}
a.button.copyrights{
	position: fixed;
	bottom: 5px;
	right: 5px;
}
div.blink-slow{
	animation: blink 9s infinite;
	animation-delay: 6s;
}
div.blink-fast{
	animation: blink 2s infinite;
	animation-delay: 1s;
}
@keyframes blink{ 
	0%{
		opacity: 0;
	}
	49%{
		opacity: 0;
	}
	50%{
		opacity: 1;
	}
	100%{
		opacity: 1;
	}
}

/* Bars */
.bar{
	height: 20px;
	position: fixed;
	left: 740px;
	width: 105px;
}
.number-one{
	top: 240px;
}
.number-two{
	top: 265px;
}
.bar-break{
	height: 45px;
	position: fixed;
	top: 240px;
	left: 850px;
	width: 50px;
}
.bar-continued{
	height: 20px;
	position: fixed;
	left: 905px;
	right: 5px;
}
.marker{
	height: 25px;
	position: fixed;
	top: 250px;
	left: 905px;
	width: 200px;
	background: #000000;
	border-radius: 0 10px 10px 0;
}

/* Headers */
h1{
	font-size: 4em;
	position: fixed;
	top: 5px;
	right: 35px;
	margin: 0;
}
h2{
	font-size: 3em;
	margin: 0 0 10px 0;
	text-align: right;
}
h3{
	font-size: 2em;
	margin: 0;
}

/* Colors */
.red{
	background: #e7442a;
	color: #000000;
}
.button.red: hover{
	background: #ff7755;
	color: #000000;
}
.light-blue{
	background: #9ea5ba;
	color: #000000;
}
.button.light-blue:hover{
	background: #aabbff;
	color: #000000;
}
.dark-blue{
	background: #6d748c;
	color: #000000;
}
.button.dark-blue:hover{
	background: #99aaff;
	color: #000000;
}
.light-gray{
	background: #2f3749;
	color: #9ea5ba;
}
.button.light-gray:hover{
	background: #334455;
	color: #9ea5ba;
}
.dark-gray{
	background: #111419;
	color: #e7442a;
}
.button.dark-gray:hover{
	background: #112233;
	color: #e7442a;
}

/* Tables */
div.scrollbox table{
	border-spacing: 0;
	border: 1px solid #e7442a;
}
th,
div.scrollbox td{
	border: 1px solid #e7442a;
}

/* Waveform */
.waveform-wrapper{
	grid-column: span 2;
	grid-row: span 4;
	border: 1.5em solid #e7442a;
	border-radius: 1.5em;
}
.waveform{
	background-color: #000000;
	position: absolute;
	inset: -1.5em 1.5em;
}
.waveform-segment{
	height: calc(100% / 15);
	width: 0;
	background-image: linear-gradient(to right, #400000, #e7442a, #400000);
	margin: auto;
}
.waveform :nth-child(1){
	animation: animateLine5 1s 0.2s infinite;
}
.waveform :nth-child(2){
	animation: animateLine4 1s 0.3s infinite;
}
.waveform :nth-child(3){
	animation: animateLine3 1s 0.4s infinite;
}
.waveform :nth-child(4){
	animation: animateLine3 1s 0.5s infinite;
}
.waveform :nth-child(5){
	animation: animateLine2 1s 0.6s infinite;
}
.waveform :nth-child(6){
	animation: animateLine2 1s 0.7s infinite;
}
.waveform :nth-child(7){
	animation: animateLine2 1s 0.8s infinite;
}
.waveform :nth-child(8){
	animation: animateLine1 1s 0.9s infinite; 
}
.waveform :nth-child(9){
	animation: animateLine2 1s 0.8s infinite;
}
.waveform :nth-child(10){
	animation: animateLine2 1s 0.7s infinite;
}
.waveform :nth-child(11){
	animation: animateLine2 1s 0.6s infinite;
}
.waveform :nth-child(12){
	animation: animateLine3 1s 0.5s infinite;
}
.waveform :nth-child(13){
	animation: animateLine3 1s 0.4s infinite;
}
.waveform :nth-child(14){
	animation: animateLine4 1s 0.3s infinite;
}
.waveform :nth-child(15){
	animation: animateLine5 1s 0.2s infinite;
}
@keyframes animateLine1{
	0%{
		width: 12em;
	}
	50%{
		width: 6em;
	}
	100%{
		width: 12em;
	}
}
@keyframes animateLine2{
	0%{
		width: 10em;
	}
	50%{
		width: 5em;
	}
	100%{
		width: 10em;
	}
}
@keyframes animateLine3{
	0%{
		width: 8em;
	}
	50%{
		width: 4em;
	}
	100%{
		width: 8em;
	}
}
@keyframes animateLine4{
	0%{
		width: 4em;
	}
	50%{
		width: 2em;
	}
	100%{
		width: 4em;
	}
}
@keyframes animateLine5{
	0%{
		width: 2em;
	}
	50%{
		width: 1em;
	}
	100%{
		width: 2em;
	}
}

/* Responsive Formatting */
@media (max-height: 849px){
	div.version-info{
		display: none;
	}
}
@media (max-height: 654px){
	div.sidebar-7,
	div.sidebar-10{
		display: none;
	}
}
@media (max-height: 589px){
	div.sidebar-8,
	div.sidebar-11{
		display: none;
	}
}
@media (max-height: 524px){
	h1,
	div.sidebar-3,
	div.sidebar-6{
		display: none;
	}
	a.header-one,
	a.header-two{
		top: 5px;
	}
	a.header-three,
	a.header-four{
		top: 70px;
	}
	.panel{
		grid-row: span 1;
	}
	div.number-one{
		top: 135px;
	}
	div.number-two{
		top: 160px;
	}
	div.bar-break{
		top: 135px;
	}
	div.marker{
		top: 145px;
	}
	div.scrollbox{
		top: 205px;
	}
}
@media (max-height: 459px){
	div.sidebar-2,
	div.sidebar-5{
		display: none;
	}
}
@media (max-height: 394px){
	 div.bar,
	div.bar-break,
	div.bar-continued,
	div.marker,
	.panel,
	.waveform-wrapper,
	.cascade,
	div.sidebar-1,
	div.sidebar-4,
	div.sidebar-9,
	div.sidebar-12{
		display: none!important;
	}
	div.scrollbox{
		left: 30px!important;
		top: 5px;
		right: 220px;
	}
	a.button{
		right: 5px;
	}
	a.header-one{
		top: 5px;
	}
	a.header-two{
		top: 70px;
	}
	a.header-three{
		top: 135px;
	}
	a.header-four{
		top: 200px;
	}
}
@media (max-height: 264px){
	a.header-one{
		right: 190px;
	}
	a.header-two{
		top: 5px;
		right: 5px;
	}
	a.header-three{
		top: 70px;
		right: 190px;
	}
	a.header-four{
		top: 70px;
		right: 5px;
	}
	div.scrollbox{
		right: 405px;
	}
	@media (max-width: 870px){
		a.button{
			display: none;
		}
		div.scrollbox{
			right: 30px;
		}
	}
}
@media (max-height: 134px){
	a.button{
		top: 5px;
	}
	a.header-one{
		right: 560px;
	}
	a.header-two{
		right: 375px;
	}
	a.header-three{
		right: 190px;
	}
	a.header-four{
		right: 5px;
	}
	div.scrollbox{
		right: 775px;
	}
	@media (max-width: 1300px){
		a.button{
			display: none;
		}
		div.scrollbox{
			right: 30px;
		}
	}
}
@media (max-height: 69px){
	a.button{
		display: none;
	}
	div.scrollbox{
		right: 30px;
	}
}
@media (max-width: 1540px){
	.cascade td:nth-child(14){
		display: none;
	}
}
@media (max-width: 1510px){
	.cascade td:nth-child(13){
		display: none;
	}
}
@media (max-width: 1480px){
	.cascade td:nth-child(12){
		display: none;
	}
}
@media (max-width: 1460px){
	.cascade td:nth-child(11){
		display: none;
	}
}
@media (max-width: 1440px){
	.cascade td:nth-child(10){
		display: none;
	}
}
@media (max-width: 1420px){
	.cascade td:nth-child(9){
		display: none;
	}
}
@media (max-width: 1400px){
	.cascade td:nth-child(8){
		display: none;
	}
}
/*@media (max-width: 1380px){*/
@media (max-width: 1750px){
	.waveform-wrapper + .panel-column{
		display: none;
	}
	div.bar{
		left: 555px;
	}
	div.bar-break{
		left: 665px;
	}
	div.bar-continued{
		left: 720px;
	}
	div.marker{
		left: 720px;
	}
	div.scrollbox{
		left: 590px;
	}
	.cascade td{
		display: table-cell!important;
	}
}
/*@media (min-width: 1180px){*/
@media (min-width: 1550px){
	@media (max-width: 1340px){
		.cascade td:nth-child(14){
			display: none!important;
		}
	}
	@media (max-width: 1310px){
		.cascade td:nth-child(13){
			display: none!important;
		}
	}
	@media (max-width: 1280px){
		.cascade td:nth-child(12){
			display: none!important;
		}
	}
	@media (max-width: 1260px){
		.cascade td:nth-child(11){
			display: none!important;
		}
	}
	@media (max-width: 1240px){
		.cascade td:nth-child(10){
			display: none!important;
		}
	}
	@media (max-width: 1220px){
		.cascade td:nth-child(9){
			display: none!important;
		}
	}
	@media (max-width: 1200px){
		.cascade td:nth-child(8){
			display: none!important;
		}
	}
}
/*@media (max-width: 1180px){*/
@media (max-width: 1550px){
	div.sidebar-1,
	div.sidebar-2,
	div.sidebar-3,
	div.sidebar-4,
	div.sidebar-5,
	div.sidebar-6,
	div.sidebar-7,
	div.sidebar-8,
	div.sidebar-9,
	div.sidebar-10,
	div.sidebar-11,
	div.sidebar-12,
	.waveform-wrapper,
	div.version-info{
		display: none;
	}
	div.bar{
		left: 185px;
	}
	div.bar-break{
		left: 295px;
	}
	div.bar-continued{
		left: 350px;
	}
	div.marker{
		left: 350px;
	}
	div.scrollbox{
		left: 210px;
	}
}
@media (max-width: 960px){
	.cascade td:nth-child(14){
		display: none!important;
	}
}
@media (max-width: 930px){
	.cascade td:nth-child(13){
		display: none!important;
	}
}
@media (max-width: 900px){
	.cascade td:nth-child(12){
		display: none!important;
	}
}
@media (min-width: 800px){
	@media (max-width: 880px){
		.cascade td:nth-child(11){
			display: none!important;
		}
	}
	@media (max-width: 860px){
		.cascade td:nth-child(10){
			display: none!important;
		}
	}
	@media (max-width: 840px){
		.cascade td:nth-child(9){
			display: none!important;
		}
	}
	@media (max-width: 820px){
		.cascade td:nth-child(8){
			display: none!important;
		}
	}
}
@media (max-width: 800px){
	div.bar{
		left: 100px;
	}
	div.bar-break{
		left: 210px;
	}
	div.bar-continued{
		left: 265px;
	}
	div.marker{
		left: 265px;
	}
	div.scrollbox{
		left: 130px!important;
	}
	h1{
		font-size: 3.5em!important;
	}
	a.header-one,
	a.header-three{
		right: 195px;
	}
	a.header-two,
	a.header-four{
		right: 10px;
	}
	@media (max-height: 589px){
		div.bar,
		div.bar-break,
		div.bar-continued,
		div.marker,
		h1{
			display: none;
		}
		.panel-column + .panel-column > :nth-child(2),
		.panel-column + .panel-column > :nth-child(3){
			border-radius: 0;
		}
		div.scrollbox{
			top: 135px;
			right: 30px;
		}
		a.header-one,
		a.header-two{
			top: 5px;
		}
		a.header-three,
		a.header-four{
			top: 70px;
		}
	}
	@media (max-height: 524px){
		a.header-one,
		a.header-two,
		a.header-three,
		a.header-four{
			display: none;
		}
		div.scrollbox{
			top: 5px;
		}
	}
	@media (max-height: 394px){
		div.scrollbox{
			left: 30px!important;
		}
	}
}
@media (max-width: 780px){
	.cascade td:nth-child(11){
		display: none!important;
	}
}
@media (max-width: 760px){
	.cascade td:nth-child(10){
		display: none!important;
	}
}
@media (max-width: 740px){
	.cascade td:nth-child(9){
		display: none!important;
	}
}
@media (max-width: 720px){
	.cascade td:nth-child(8){
		display: none!important;
	}
}
@media (max-width: 700px){
	.cascade{
		display: none!important;
	}
}

/* Print */
@media print{
	*{
		color: #000000;
	}
	blockquote{
		border: none;
		padding-left: 0.5in;
	}
	h1{
		display: block!important;
		top: 0.10in!important;
		right: 0.25in!important;
	}
	.panel,
	a.header-one,
	a.header-two,
	a.header-three,
	a.header-four,
	div.bar,
	div.bar-break,
	div.bar-continued,
	div.marker{
		display: none;
	}
	a[href^="http"]::after{
		content: ' (' attr(href) ')'
	}
	div.scrollbox{
		top: 0.85in;
		left: 0.25in!important;
		right: 0.25in;
		padding: 0;
	}
}
